.main-footer {
	background: #202020;
	padding: 35px 0px;
	color: #959595;
}

.main-footer .widget .title {
	color: #ffffff;
	border-bottom: 1px solid #303030;
}

.main-footer .widget {
	padding: 0px 30px;
}

.widget {
	margin-bottom: 35px;
}

.widget .title {
	margin-top: 0;
	padding-bottom: 7px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 21px;
	position: relative;
}

.widget .title:after {
	content: "";
	width: 90px;
	height: 1px;
	background: #FFD700;
	position: absolute;
	left: 0;
	bottom: -1px;
}

.widget .tag-cloud a {
	padding: 2px 7px;
	color: #959595;
	line-height: 1.5em;
	display: inline-block;
	margin: 0 7px 7px 0;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

h1 {
	font-size: 4em;
	font-weight: 100;
}

h3 {
	font-size: 2em;
	font-weight: 100;
}

h4 {
	font-size: 1.4em;
	font-weight: 100;
}

.navbar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 10;
	z-index: 20;
	padding-right: 15px;
	padding-left: 15px;
}

.navbar-brand {
	padding: 8px;
}

.bodyContent {
	padding: 40px 0px;
}

.bodyGray {
	background: #F0F0F0;
}

.bodyImage {
	width: 100%;
}

.imageColumn {
	padding: 5px;
}

.content-text-area {
	text-align: center;
	padding: 15px 0px;
}

body {
	padding-top: 50px;
}

.dinglian-btn {
	color: #000000;
	background-color: #FFD700;
	border-radius: 20px;
}

.change-btn {
	margin-top: 20px;
	width: 500px;
}

.dinglian-btn:hover, .change-btn:hover {
	color: #FFFFFF;
}

.btn-disable {
	background-color: #999999;
	color: #DDDDDD;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus,
	.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #FFD700;
	color: #000000;
	background-image: none;
}

.carousel-caption {
	margin-bottom: 80px;
}

.line {
	display: inline-block;
	background: #FFD700;
	height: 3px;
	width: 9em;
}

.dinglian-button {
	position: absolute;
	z-index: 20;
	top: 70%;
	left: 20%;
}

.happyteam {
	background-color: white;
	color: black;
	margin-left: 20px;
	width: 85px;
	margin-top: 20px;
	text-align: center;
}

.community>li>a {
	position: relative;
	display: block;
	background-color: white;
	min-width: 18px;
	padding: 3px;
	margin:2px;
	color: black;
	border-radius: 5px;
	text-decoration: none;
	/* font-size: 2em; */
	font-weight: 100;
}

.community>li>a:hover {
	background-color: #FFD700;
	cursor: pointer;
}

hr {
	border-top: 2px solid #eee;
}

.hr-short {
	width: 50%;
}

.top-list-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	background-color: #fff;
	color: #555;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
}

.top-list-item:hover, .top-list-item:active, .top-list-item:visited,
	.top-list-item:link {
	text-decoration: none;
	color: #555;
}

.top-list-item:first-child {
	border-top-left-radius: none;
	border-top-right-radius: none;
}

.top-list-item:last-child {
	border-bottom-right-radius: none;
	border-bottom-left-radius: none;
}

.top-list-label {
	display: inline;
	padding: .25em .5em;
	margin-right: 0.5em;
	font-weight: 100;
	line-height: 1;
	color: #000;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.top-list-label-default {
	background-color: #FFD700; } .top-list-label-gray {
	background-color: #E0E0E0;
}

.top-list-title {
	padding-bottom: 20px;
}

.block {
	text-align: center;
	margin: 0px auto;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.footbut{
	line-height: 50px;
	text-align: center;
	border-radius: 5px;
	margin-top: 50px;
	margin-bottom: 70px;
}
.picturefont{
	border-bottom: 2px solid white;
	position: relative;
	top: -45px;
	left: 10px;
	font-size: 20px;
	width: 100px;
}
.picturefont2{
	position: relative;
	top: -300px;
	left: 10px;
	font-size: 20px;
	width: 100px;
}
